<% notification ||= @notification %>
<div class="body row notification-container" id="notification-<%= notification.id %>"  data-notification-id="<%= notification.id %>"  data-project-id="<%= notification.project.id %>">
  <div class="one column">
    <%= link_to '', '#', :class => 'delete notification-link', :title => 'Delete notification' %>
    <%= link_to '', edit_project_notification_path(notification.project, notification), :class => 'edit notification-link', :title => 'Edit notification' %>
  </div>
  <div class="three columns"><%= notification.environment.name %></div>
  <div class="four columns"><%= notification.from %></div>
  <div class="four columns"><%= notification.to %></div>
</div>