<%= form_for(@project) do |f| %>
  <div class="row">
  <div class="four columns" id="text_fields">
    <%= render_text_field f, :name, 'Project name' %>
    <%= render_text_field f, :kind, 'Kind (webapp, gem, etc.)' %>
    <%= render_text_field f, :maintainer, 'Primary contact' %>
    <%= render_text_field f, :email, 'Contact email' %>
    <%= render_text_field f, :source, 'Source code repository location' %>
  </div>
  <div class="six columns">
    <%= render_text_area f, :description, 'Description', :style => 'height: 232px' %>
  </div>
  </div>
  <div class="row">
  <%= f.submit nil, :class => 'button' %>
  </div>
<% end %>
