<div class="row">
    <h2 class="span6">DLSS Project Release Board</h2>
    <div class="pull-right">
      <span class="span1 label version-current">Current</span>
      <span class="span1 label version-patch">Patch</span>
      <span class="span1 label version-minor">Minor</span>
      <span class="span1 label version-major">Major</span>
    </div>
</div>

<div class="row">
  <div class="span6">
    <div class="recent-releases">
     <h3>Recent Releases</h3>
    <% @releases.group_by { |x| x.released_at.to_date }.each do |date, releases| %>
    <h4><%= l date, :format => :short %></h4>
     <ul>
    <% releases.each do |release| %>
      <li>
        <%= l release.released_at, :format => :time %> <%= link_to release.project.name, project_path(release.project.name) %> <%= ReleaseDecorator.new(release).version_label(release.previous.version, :direction => :backward ) %> released to <%= release.environment.name %> 
      </li>
      <% end %>
  </ul>
    <% end %>
</div>
  </div>
  <div class="span6">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Project</th>
      <th>Versions</th>
    </tr>
  </thead>
  <tbody>
  <% @projects.sort_by { |x| x.name.downcase }.each do |project| %>
    <tr class="project">
      <td><%= link_to project.name, project_path(project.name), :style => 'white-space: nowrap' %></div>
      <td>
      
      <% project.latest_releases.each do |release| %>
        <div class="span3">
          <%= release.version_label(project.max_version) %> <%= release.environment.name %>
        </div>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>