<% environments = @project.environments.uniq.sort_by { |env| env.ordering_index } %>
<h2><%= @project.name %> <%= ReleaseDecorator.new(@project.latest_release).version_label(@project.max_version, :link => false) %></h2>
<%= content_tag :p, @project.description if @project.description.present? %>

<hr/>

<% if environments.any? %>
  <div class="pull-right">
    <span class="span1 label version-patch">Patch</span>
    <span class="span1 label version-minor">Minor</span>
    <span class="span1 label version-major">Major</span>
  </div>

  <h3>Release History</h3>
  <ul class="row nav nav-tabs">
    <% environments.each_with_index do |env,index| %>
      <li class="<%= 'active' if index == 0 %>">
      <%= link_to "#{h env.name} (#{@project.latest_release_for_environment(env).version})".html_safe, "##{env.anchor}", :'data-toggle' => 'tab' %>
      </li>
    <% end %>
  </ul>

  <div class="tab-content">
  <% environments.each_with_index do |env,index| %>
    <div class="tab-pane <%= 'active' if index == 0 %>" id="<%=env.anchor %>">
      <dl>
        <% if env.destination %>
        <dt>Deployed to: </dt><dd><%= env.deployment_host %>:<%= env.destination %></dd>
        <% end %>
      </dl>
       <%= render_releases_for @project, env %>
    </div>
  <% end %>
  </div>
<% else %>
  <p>This project has not logged any releases.</p>
<% end %>
