<% environments = @project.environments.uniq %>
<div class="container">
  <div class="row">
    <div class="row">
      <%= render :layout => 'breadcrumbs' do %>
        <li><%= link_to 'Projects', projects_path %></li>
        <li class="current"><%= content_tag :span, @project.name %></li>
        <li><%= link_to 'Edit', edit_project_path(@project) %></li>
      <% end %>
    </div>
    <div class="twelve columns centered">
      <h2><%= @project.name %></h2>
      <% if @project.description.present? %>
        <p><%= @project.description %></p>
      <% end %>
      <div class="row">
        <%= render_project_detail 'Maintainer', @project.maintainer %>
        <%= render_project_detail 'Contact', @project.email %>
        <%= render_project_detail 'Source', @project.source %>
      </div>
      <hr/>
      <div class="row">
        <div class="twelve columns">
          <h4>Release History</h4>
        </div>
      </div>
      <% if environments.any? %>
        <div class="row">
          <div class="row" style="margin-top: 8px">
            <div style="float:right">
              <span class="white radius label">Current</span>
              <span class="green radius label">Patch Release</span>
              <span class="blue  radius label">Minor Release</span>
              <span class="red   radius label">Major Release</span>
            </div>
            <dl class="tabbish sub-nav">
              <dt>Environment:</dt>
              <% environments.each_with_index do |env,index| %>
              <%= content_tag :dd, :class => (index == 0 ? 'active' : '') do %>
              <%= link_to env.name.titleize, "##{env.name}Releases" %>
              <% end %>
              <% end %>
            </dl>
          </div>
          <ul class="tabs-content">
            <% environments.each_with_index do |env,index| %>
            <%= content_tag(:li, :id => "#{env.name}Releases", :class => index == 0 ? 'active' : '') do %>
              <%= render_releases_for @project, env %>
            <% end %>
            <% end %>
          </ul>
        </div>
      <% else %>
        <p>This project has not logged any releases.</p>
      <% end %>
    </div>
  </div>
</div>
