<div class="container">
  <div class="ten columns centered">
    <h1><%= @release.project.name %></h1>
    <p>Version <span class="white radius label"><%= @release.version %></span> released to <span class="white radius label"><%= @release.environment.name %></span> <%= time_ago_in_words @release.released_at %> ago (<%= format_time(@release.released_at,false) %>)</p>

    <% if @release.release_notes.present? %>
      <h3>Release Notes</h3>
      <div class="panel">
        <div class="markdown">
          <%= RDiscount.new(@release.release_notes.to_s).to_html.html_safe %>
        </div>
      </div>
    <% end %>
  </div>
</div>